.cart{
    padding: 1rem;
    margin: 1rem;
    display: flex;
}

.cart-header{
    border-bottom: .1rem #c0c0c0 solid;
}
.cart-items{
    padding: 0;
    width: 100%;
    list-style-type: none;
}
.cart-item {
    display: flex;
}
.cart-item img{
    width: 5rem;
}
.cart-item div{
    padding: .5rem;
}
.cart-item .item-details{
    flex: 1;
}

.right{
    text-align: right;
}
.form-container {
    display: flex;
    flex-direction: column;
    border: 1px solid;
}
.form-control {
    display: flex;
    justify-content: space-between;
}
