@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html{
  box-sizing: border-box;
  font-size: 62.5%;
}

body, 
#root {
  height: 100vh;
  margin: 0px;
}

body,
input,
select,
button,
textarea {
  font-size: 1.6rem;
  font-family: Montserrat , Arial, Helvetica, sans-serif;
}

.grid-container {
  display: grid;
  grid-template-areas: 'header' 'main' 'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}

a{
  text-decoration: none;
}

a:hover {
  color: #ff8000;
}

header{
  grid-area: header;
  background-color: #203040;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5rem;
}

header a{
  color: white;
  text-decoration: none;
}

main{
  grid-area: main;
}

.content{
  display: flex;
  flex-wrap: wrap;
}

.main {
  flex: 3 60rem;
}

.sidebar {
  flex: 3 20rem;
}

footer{
  grid-area: footer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #203040;
  color: white;
}